body {
  padding-top: 0rem;
   background-color: black;
   /*background-image: url("../img/web_bg_left.png");
   background-repeat: no-repeat;
   background-size: contain;*/

}
.wrapper{
  width: 100%;
  display: flex;

}
div.l-background{
  /*background-color: white;
  background-image: url("./img/web_bg_Left.png");*/
  float: left;
  margin-left: 0px;
}
div.r-background{
  /*background-color: white;
  background-image: url("./img/web_bg_Left.png");*/
  float: right;
  margin-left: 0px;
}
div.filler{
  height:300px;
  position: relative;
  width: 100%;
}
.center-vert{
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}
.container{
  height: auto !important;
  padding-left: 0;
  padding-right: 0;

}
.starter-template {
  padding: 1rem 1.5rem;
  background-color: #373a3c;
  color: #fff;
}
.tab-pane {
  padding: 1rem 0.5rem;
}
.nav-tabs .nav-link{
  border-top-color:#717173;
  border-left-color:#717173;
  border-right-color:#717173;
}
.nav-tabs > li.active > a {
  color: #3c5a78;
  font-size: 16px;
}
.nav-tabs > li > a {
  color: rgba(255, 255, 255, 0.5);

}
.gray{
  background-color: #373a3c;
  color: #fff;
}
.startdate{
  padding-top: 1rem;
  color: #fff;
  border: solid;
}
.myform {
	width:60%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.gmap{
  float: right;

}
.img-fluid{
  margin-left: auto;
  	margin-right: auto;
  	display: block;

}
tr.bggreen{
    background-color: #006606 !important;

}
/*.navbar.center .navbar-outer .nav {
    display:inline-block;
    float: none;
	  text-align: center;
}*/
.center{
    text-align: center;
}
.padd{
    padding-top: 1rem;
}
.rules{
    border-top: solid;
    padding-top: 1rem;
  }
.outline{
  border: solid;
}
.collapse.in {
  display: block;
}
